* {
  box-sizing: border-box;
  font-family: "Roboto", Helvetica, "Lucida Grande", sans-serif;
}

ul {
  list-style-type: none;
  padding: 0;
}

body {
  margin: 0px;
  background-color: #9EE4AE;
}

.box {
  border-radius: 5px;
  overflow: hidden;
  margin: 0px 0px 8px 0px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  background-color: #EDF5E1;
}

.box-header {
  background-color: #389683;
  color: #04386C;
  margin: 0px;
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box-header h2 {
  margin: 0;
}

.edit-workout {
  margin-left: 25px;
  margin-right: 2px;
}

.box-content {
  padding: 0px 10px 0px 10px;
}

#workouts {
  margin-left: 5px;
  flex: 2;
}

.exercise-name {
  display: flex;
  justify-content: space-between;
}

.exercise-list li {
  margin-bottom: 15px;
}

.exercise-list h3 {
  margin: 0px;
  text-decoration: underline;
}

.analytics-table {
  width: 100%;
}

.analytics-table-row {
  display: flex;
  justify-content: space-between;
  margin: 15px 0px 15px 0px;
}

.analytics-name {
  text-decoration: underline;
}